.container {
  border-collapse: collapse;
  display: block;
  font-family: monospace;
  font-size: 1rem;
  margin-bottom: 0;

  td {
    padding: 0.5rem;

    &.highlightChar {
      background-color: yellow;
    }
  }
}
