.SemaphoreCharacter {
  position: relative;
}

.SemaphoreCharacter .SemaphoreCheckbox {
  position: absolute;
}

.SemaphoreCharacter .SemaphoreCompletion {
  position: absolute;
  font-size: 24px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-north {
  top: 20px;
  left: 112.5px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-north {
  top: 12px;
  left: 130px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-northEast {
  top: 51px;
  left: 192px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-northEast {
  top: 44px;
  left: 210px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-east {
  top: 107px;
  left: 203px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-east {
  top: 100px;
  left: 220px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-southEast {
  top: 153px;
  left: 169px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-southEast {
  top: 146px;
  left: 185px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-south {
  top: 165px;
  left: 112.5px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-south {
  top: 160px;
  left: 130px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-southWest {
  top: 153px;
  left: 57px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-southWest {
  top: 146px;
  left: 73px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-west {
  top: 107px;
  left: 25px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-west {
  top: 100px;
  left: 40px;
}

.SemaphoreCharacter .SemaphoreCheckbox.SemaphoreCheckbox-northWest {
  top: 51px;
  left: 35px;
}

.SemaphoreCharacter .SemaphoreCompletion.SemaphoreCompletion-northWest {
  top: 45px;
  left: 52px;
}
