.SemaphoreCharacter {
  position: relative;

  svg {
    margin-right: 3px;
  }

  .SemaphoreCheckbox {
    position: absolute;

    &.SemaphoreCheckbox-north {
      top: 16px;
      left: 112.5px;
    }

    &.SemaphoreCheckbox-northEast {
      top: 47px;
      left: 192px;
    }

    &.SemaphoreCheckbox-east {
      top: 103px;
      left: 203px;
    }

    &.SemaphoreCheckbox-southEast {
      top: 149px;
      left: 169px;
    }

    &.SemaphoreCheckbox-south {
      top: 161px;
      left: 112.5px;
    }

    &.SemaphoreCheckbox-southWest {
      top: 149px;
      left: 57px;
    }

    &.SemaphoreCheckbox-west {
      top: 103px;
      left: 25px;
    }

    &.SemaphoreCheckbox-northWest {
      top: 47px;
      left: 35px;
    }
  }
}
