.Semaphore {
  position: relative;
}

.Semaphore .SemaphoreCheckbox {
  position: absolute;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-north {
  top: 20px;
  left: 127.5px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-northEast {
  top: 51px;
  left: 207px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-east {
  top: 107px;
  left: 218px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-southEast {
  top: 153px;
  left: 184px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-south {
  top: 165px;
  left: 127.5px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-southWest {
  top: 153px;
  left: 72px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-west {
  top: 107px;
  left: 40px;
}

.Semaphore .SemaphoreCheckbox.SemaphoreCharacter-northWest {
  top: 51px;
  left: 50px;
}
