.MorseStream {
  margin: 0px 15px;
}

.MorseStream-view {
  font-size: 72px;
  font-weight: bold;
}

div.MorseStream-input {
  margin-bottom: 10px;
}

.MorseStream-morseView {
  line-height: 40px;
  margin-right: -16px;
  margin-top: 10px;
  min-height: 40px;
}

.MorseStream-morseView svg.MorseStream-dotIcon,
.MorseStream-morseView svg.MorseStream-dashIcon {
  height: 16px;
  margin-right: 16px;
}

.MorseStream-commands .btn-group,
.MorseStream-inputCommands .btn-group {
  margin-bottom: 10px;
}

.MorseStream-inputCommands .btn {
  font-size: 40px;
  height: 72px;
  min-width: 112px;
}

.MorseStream-inputCommands svg.MorseStream-dotIcon,
.MorseStream-inputCommands svg.MorseStream-dashIcon {
  display: block;
  height: 24px;
  margin: 0 auto;
}

.MorseStream-output {
  font-size: 24px;
  min-height: 56px;
  white-space: pre-wrap;
}
