.MorseStream-view {
  font-size: 72px;
  font-weight: bold;
}

div.MorseStream-input {
  margin-bottom: 10px;
}

.MorseStream-morseView {
  line-height: 40px;
  margin-right: -16px;
  margin-top: 10px;
  min-height: 40px;
}

.MorseStream-morseView svg.MorseStream-dotIcon,
.MorseStream-morseView svg.MorseStream-dashIcon {
  height: 16px;
  margin-right: 16px;
}

.MorseStream-commands .btn-group {
  margin-bottom: 10px;
}

.MorseStream-commands svg.MorseStream-dotIcon,
.MorseStream-commands svg.MorseStream-dashIcon {
  height: 12px;
}

.MorseStream-output {
  font-size: 24px;
  min-height: 56px;
  white-space: pre-wrap;
}
