.AutoConvertStream {
  margin: 0 1rem;

  .AutoConvertStream-input {
    margin-bottom: 0.5rem;

    input {
      margin-bottom: 0.5rem;
    }

    .btn-toolbar {
      margin-bottom: -0.5rem;
    }
  }
}
