.BrailleStream {
  margin: 0.5rem 1rem 0;

  .btn-toolbar {
    margin-bottom: -0.5rem;
  }

  .container-fluid {
    margin-bottom: -0.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-right: -0.25rem;
    margin-left: -0.25rem;

    > div {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      margin-bottom: 0.5rem;
    }
  }

  .BrailleStream-input {
    margin-bottom: 0.5rem;
  }

  .BrailleStream-view {
    font-size: 4.5rem;
    font-weight: bold;
  }

  .BrailleStream-output {
    font-size: 1.5rem;
  }
}
