.AutoConvertStream {
  margin: 0px 15px;

  .AutoConvertStream-input {
    margin-bottom: 10px;
  }

  .AutoConvertStream-commands .btn-group {
    margin-bottom: 10px;
  }

  .AutoConvertStream-output {
    font-size: 16px;
    min-height: 44px;
    white-space: pre-wrap;
  }
}
