.container {
  padding: 0;
}

.card {
  text-decoration: none;
  color: inherit;
  transition:
    transform 150ms ease,
    box-shadow 150ms ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-3px);
    box-shadow: var(--mantine-shadow-md);
  }
}
