.Loading {
  .Loading-content {
    padding: 0 1rem 1rem;
    text-align: center;
  }

  .Loading-error {
    border-radius: 50%;
    border: 0.5rem solid red;
    color: red;
    content: "!";
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;
    margin: 0 auto 0.5rem;
    width: 4rem;
  }

  .Loading-spinner {
    animation: spin 2s linear infinite;
    border-radius: 50%;
    border: 0.5rem solid #f3f3f3;
    border-top: 0.5rem solid #3c3c3c;
    height: 4rem;
    margin: 0 auto 0.5rem;
    width: 4rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}