.MorseTable {
  text-align: center;
  vertical-align: middle;

  .table-responsive {
    border-top: none;
  }

  td {
    font-size: 3.5rem;
    font-weight: bold;
    height: 1rem;
  }

  .MorseTable-morseView svg.MorsePicture-dotIcon,
  .MorseTable-morseView svg.MorsePicture-dashIcon {
    height: 1rem;
    margin-right: 1rem;
  }
}
