.ResistorInput {
  margin: 0px 15px;
}

.ResistorInput .ResistorDisplay {
  margin-bottom: 10px;
}

.ResistorInput .btn-group {
  margin-bottom: 10px;
}

.ResistorInput .ResistorValue {
  font-size: 16pt;
  font-weight: bold;
  margin-bottom: 10px;
}
