.ResistorInput {
  margin: 0px 15px;

  .ResistorDisplay {
    margin-bottom: 10px;
  }

  .btn-group {
    margin-bottom: 10px;
  }

  .ResistorValue {
    font-size: 16pt;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
