.ResistorInput {
  margin: 0.5rem 1rem 0;

  .btn-toolbar {
    margin-bottom: -0.5rem;
  }

  .ResistorInput-input {
    margin-bottom: 0.5rem;
  }

  .ResistorInput-display {
    margin-bottom: 0.5rem;
  }

  .ResistorInput-output {
    .card-body {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}
