.BrailleStream {
  margin: 10px 15px 0px;

  .BrailleStream-input {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .BrailleStream-view {
    margin-left: 20px;
    font-size: 72px;
    font-weight: bold;
  }

  .BrailleStream-commands {
    margin-bottom: 10px;
  }

  .BrailleStream-output {
    font-size: 24px;
    min-height: 56px;
    white-space: pre-wrap;
  }
}
