.BrailleStream {
  margin: 10px 15px 0px;

  .btn-toolbar {
    margin-bottom: -10px;
  }

  .container-fluid {
    margin-bottom: -10px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row {
    margin-right: -5px;
    margin-left: -5px;

    > div {
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
    }
  }

  .BrailleStream-input {
    margin-bottom: 10px;
  }

  .BrailleStream-view {
    font-size: 72px;
    font-weight: bold;
  }

  .BrailleStream-output {
    font-size: 24px;
  }
}
