.BrailleCell {
  background: transparent;
  border: none;
  float: left;
  padding: 0px 2px;
}

.BrailleCell svg {
  fill: transparent;
  height: 94px;
  stroke: black;
  stroke-width: 2px;
  width: 94px;
}

.BrailleCell svg.selected {
  fill: black;
}
