.BrailleCell {
  background: transparent;
  border: none;
  padding: 0px 2px;
}

.BrailleCell svg {
  fill: transparent;
  height: 100%;
  stroke: black;
  stroke-width: 2px;
  width: 100%;
}

.BrailleCell:active svg,
.BrailleCell.BrailleCell-selected:active svg {
  fill: #888;
  stroke: #888;
}

.BrailleCell.BrailleCell-selected svg {
  fill: black;
}
