.KeyedCipherStreamBase {
  margin: 0px 15px;

  .KeyedCipherStreamBase-input {
    margin-bottom: 10px;

    input {
      margin-bottom: 10px;
    }

    .btn-toolbar {
      margin-bottom: -10px;
    }
  }
}
