body {
  font: 14px "Arial Black", Gadget, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.braille-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.stream-commands {
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
}

.braille-character {
  border: 1px solid #999;
}

.braille-cell {
  background: transparent;
  border: none;
  float: left;
  padding: 0px 2px;
}

.braille-cell svg {
  fill: transparent;
  height: 94px;
  stroke: black;
  stroke-width: 2px;
  width: 94px;
}

.braille-cell svg.selected {
  fill: black;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.braille-stream {
  display: flex;
  flex-direction: row;
}

.braille-view {
  margin-left: 20px;
  font-size: 72px;
  font-weight: bold;
}

.command {
  font-size: 28px;
  margin: 5px;
}