body {
  font: 14px "Arial Black", Gadget, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.braille-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.stream-commands {
    margin-top: 10px;
    margin-bottom: 10px;
    clear: both;
  }

.braille-cell {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 84px;
  font-weight: bold;
  line-height: 34px;
  height: 94px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 94px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.braille-stream {
  display: flex;
  flex-direction: row;
}

.braille-view {
  margin-left: 20px;
  font-size: 72px;
  font-weight: bold;
}

.command {
  font-size: 28px;
  margin: 5px;
}