@import "~bootstrap/scss/bootstrap.scss";

body {
  font-size: 1rem;
  touch-action: manipulation;
}

pre {
  font-size: 1rem;
  margin-bottom: 0;
  white-space: pre-wrap;
}

.btn-toolbar {
  margin-right: -0.5rem;
}

.btn-group {
  margin-bottom: 0.5rem;
  margin-right: 0.25rem;
}

.btn {
  font-size: 1.25rem;
  min-height: 2.75rem;
}

.form-control {
  font-size: 1rem;
}

.card-header {
  padding: 0.5rem 0.5rem;
}

.card-body {
  padding: 0.5rem;
}

.blinking-cursor {
  animation: 1s blink step-end infinite;
  font-weight: 100;
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}
