.WordSearchGrid {
    margin: 0px 15px;
  }
  
  .WordSearchGrid-input {
    margin-bottom: 10px;
    font-family: monospace;
    letter-spacing: 5px;
  }
  
  .highlightedLetter {
    color: green;
    background-color: yellow;
  }