.WordSearchGrid {
  margin: 0px 15px;
  display: grid;
}
  
.WordSearchGrid-input {
  margin-bottom: 10px;
  font-family: monospace;
  letter-spacing: 5px;
  min-height: 200px;
}

.WordSearchList-input {
  margin-bottom: 10px;
  min-height: 200px;
}

.highlightedLetter {
  color: green;
  background-color: yellow;
}