.WordSearchComponent {
  textarea {
    min-height: 12.5rem;
    resize: none;
  }

  .row {
    margin-right: -0.5rem;
    margin-left: -0.5rem;

    > div {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }

  .WordSearchComponent-ListInput {
    textarea {
      border-left: none;
      border-right: none;
      border-top: none;
      margin-bottom: 0.5rem;
      min-height: 12.5rem;
    }

    .alert {
      margin-bottom: 0.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }

    .card-body {
      padding: 0;
    }

    .form-check {
      margin: 0.5rem 0.5rem;
    }
  }

  .WordSearchComponent-GridInput {
    height: 100%;

    textarea {
      border: none;
      font-family: monospace;
      height: 100%;
      letter-spacing: 0.5rem;
    }

    .card-body {
      padding: 0;
    }
  }
}
