.WordSearchGrid-input {
  margin-bottom: 10px;
  font-family: monospace;
  letter-spacing: 10px;
  min-height: 200px;
}

.WordSearchList-input {
  margin-bottom: 10px;
  min-height: 200px;
}

.WordSearchGrid-output {
  font-family: monospace;
  font-size: 16px;
}

.highlightedLetter {
  background-color: yellow;
  padding: 5px;
}

.unhighlightedLetter {
  padding: 5px;
}

