.WordSearchComponent {
  textarea {
    min-height: 200px;
    resize: none;
  }

  .row > div {
    margin-bottom: 10px;
  }

  .WordSearchComponent-ListInput {
    textarea {
      margin-bottom: 5px;
      min-height: 200px;
    }

    .alert {
      margin-bottom: 5px;
    }

    .form-check {
      margin: 5px 10px;
    }
  }

  .WordSearchComponent-GridInput {
    height: 100%;

    textarea {
      letter-spacing: 10px;
      height: 100%;
    }
  }

  .WordSearchComponent-TableOutput {
    border-collapse: collapse;
    display: block;
    font-family: monospace;
    font-size: 16px;
    margin-bottom: 0px;

    td {
      padding: 8px;

      &.WordSearchComponent-HighlightChar {
        background-color: yellow;
      }
    }
  }
}
